.box26 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 6px #95ccff;
  border-radius: 8px;
}
.box26 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #95ccff;
  font-weight: bold;
}
.box26 p {
  margin: 0; 
  padding: 0;
}
.war {
  color:red;
}

@import url('https://fonts.googleapis.com/css?family=Mukta:700');
​
$bg: #f3f8fa;
$white: #fff;
$black: #282936;
​
@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}
​
* {
  box-sizing:border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}
​
body {
  font-family:'Mukta',sans-serif;
  font-size:1rem;
  line-height:1.5;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0;
  min-height:100vh;
  background:$bg;
}

.contact-form {
  padding-top: 100px;
}

/* inputとtextareaのCSSを指定してください */
input,textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

/* contact-submitのCSSを指定してください */
.contact-submit {
  background-color:#dee7ec;
  color:#889eab
  ;
}
